$fdd-aweber-submit-button-width: 30%;
$fdd-aweber-form-elements-height: 2.8em;

$fdd-aweber-submit-color-in-content: $fdd-gray-elements-color;
$fdd-aweber-submit-color-home: $fdd-red-color;

// ----------------------------------------------------------------------------
// Subscribe Form (1)
// This is copy-past + adjustements of the inline <style> from "Raw HTML Version"

#af-form-81309244 .af-body .af-textWrap {
  display: block;
  // float: left; // !flex
  // width: 100% - $fdd-aweber-submit-button-width; // !flex

  margin: 0;
  padding: 0;
}
#af-form-81309244 .af-body .privacyPolicy {
  @include font-italic-serif(14px);
  width: 100%; // flex
  margin-right: 0; // flex ^Chrome
}
#af-form-81309244 .af-body a {
  text-decoration: underline;
  font-style: normal;
  font-weight: normal;
}
#af-form-81309244 .af-body input.text,
#af-form-81309244 .af-body input.email,
#af-form-81309244 .af-body textarea {
  @include font-standard-sans();
  text-decoration: none;
  font-size: 16px;
  border: $fdd-aweber-submit-color-in-content solid 1px;
}
#af-form-81309244 .af-body {
  padding: 1em 0;
  background-repeat: no-repeat;
  background-position: inherit;
  background-image: none;
  font-size: 12px;
  @include font-standard-sans();

  display: flex;
  flex-wrap: wrap;
  // column-gap: 2%; // flex (^Chrome)
}
#af-form-81309244 .af-element {
  width: 32%; // flex
  margin-right: 2%; // flex ^Chrome
}
#af-form-81309244 .af-quirksMode {
  padding-right: 15px;
  padding-left: 15px;
}
#af-form-81309244 .buttonContainer input.submit {
  // width: $fdd-aweber-submit-button-width; // !flex
  width: 100%; // flex
  margin: 0;
  // float: left; // !flex
  font-size: 16px;
}
main #af-form-81309244 .buttonContainer input.submit {
  //border: rgb(123, 123, 123) 1px solid;
  //background-color: $base-fdd-text-color;
  border: $fdd-aweber-submit-color-in-content;
  background-color: $fdd-aweber-submit-color-in-content;
  color: white;
}
#af-form-81309244 .buttonContainer {
  text-align: right;
  margin-right: 0; // flex ^Chrome
}
#af-form-81309244 button,
#af-form-81309244 input,
#af-form-81309244 submit,
#af-form-81309244 textarea,
#af-form-81309244 select,
#af-form-81309244 label,
#af-form-81309244 optgroup,
#af-form-81309244 option {
  margin: 0;
  height: $fdd-aweber-form-elements-height;
}
#af-form-81309244 div {
  margin: 0;
}
#af-form-81309244 form,
#af-form-81309244 textarea,
.af-form-wrapper,
.af-form-close-button,
#af-form-81309244 img {
  float: none;
  color: inherit;
  position: static;
  background-color: none;
  border: none;
  margin: 0;
  padding: 0;
}
#af-form-81309244 input,
#af-form-81309244 button,
#af-form-81309244 textarea,
#af-form-81309244 select {
  font-size: 100%;
}
#af-form-81309244 select,
#af-form-81309244 label,
#af-form-81309244 optgroup,
#af-form-81309244 option {
  padding: 0;
}
#af-form-81309244,
#af-form-81309244 .quirksMode {
  width: 100%;
}
#af-form-81309244.af-quirksMode {
  overflow-x: hidden;
}
#af-form-81309244 {
  background-color: transparent;
  border-color: inherit;
  border-width: none;
  border-style: none;
  display: block;
  overflow: hidden;
}
.af-body .af-textWrap {
  text-align: left;
}
.af-body input.image {
  border: none !important;
}
.af-body input.submit,
.af-body input.image,
.af-form .af-element input.button {
  float: none !important;
}
.af-body input.submit {
  white-space: inherit;
}
.af-body input.text,
.af-body input.email {
  width: 100%;
  float: none;
}
.af-clear {
  clear: both;
}
.af-element label {
  text-align: left;
  display: block;
  float: left;
}
.af-element {
  input {
    padding: 10px;
  }
  p {
    padding-bottom: 0;
  }
}
.af-form-wrapper {
  text-indent: 0;
}
.af-form {
  box-sizing: border-box;
  text-align: left;
  margin: auto;
}
.af-quirksMode .af-element {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#af-form-81309244 input.submit,
#af-form-81309244 #webFormSubmitButton {
  -webkit-appearance: none;
  cursor: pointer;
}

// ----------------------------------------------------------------------------

body.home {
  .fdd-aweber-inline-form--wrapper {
    margin-bottom: 3em;
    font-size: 150%;
    padding: 3em $fdd-home-outer-padding-narrow-screen; // use narrow, because on wide, this has no effect
    background-color: $fdd-gray-elements-color;
    .fdd-aweber-inline-form {
      max-width: 590px;
      margin: 0 auto;
      color: white;
      input {
        border: none !important;
      }
      input.submit {
        border-color: $fdd-aweber-submit-color-home !important;
        background-color: $fdd-aweber-submit-color-home !important;
      }
      a {
        color: white;
      }
    }
  }
}
body.single,
body.page {
  #af-form-81309244 .af-body .privacyPolicy {
    color: black;
  }
}
body.single {
  .fdd-art--page {
    .fdd-aweber-inline-form {
      margin: 5em auto 0;
    }
  }
  .fdd-recipe--page {
    .fdd-aweber-inline-form {
      margin: 5em auto 0;
    }
  }
}
.fdd-aweber--title {
  font-weight: bold;
}

@media screen and (max-width: $fdd-narrow-width-pixels - 0.1px) {
  #af-form-81309244 .af-element {
    width: 100%; // flex
    margin: 0.25em 0;
  }
  body.single {
    .fdd-art--page {
      .fdd-aweber-inline-form {
        margin: 2em auto 0;
      }
    }
    .fdd-recipe--page {
      .fdd-aweber-inline-form {
        margin: 3em auto 0;
      }
    }
  }
}
