/*
 * Shared variables
 */
$base-fdd-text-color: rgba(38,38,38,0.6);
$fdd-title-color: black;
$fdd-gray-elements-color: rgb(54, 54, 54);
$fdd-on-gray-color: rgb(206, 206, 206);
$fdd-light-gray: rgb(230, 230, 230);
$fdd-green-color: rgb(158, 238, 113);
$fdd-red-color: #d60404;

$fdd-wide-width-pixels: 960px;
$fdd-narrow-width-pixels: 640px; // rule: use 100% width images and get 640px size... ?
$fdd-thick-decor-underline-color: #bbb;

$fdd-menu-wide-screen-width: 1090px;
$fdd-menu-narrow-screen-width: 576px;

$fdd-outer-padding-wide-screen: 5vw;
$fdd-inner-padding-wide-screen: $fdd-outer-padding-wide-screen / 2;
$fdd-outer-padding-narrow-screen: 5vw;
$fdd-home-outer-padding-narrow-screen: 10vw;
$fdd-category-outer-padding-wide-screen: 12vw;
$fdd-category-outer-padding-narrow-screen: 14vw;
$fdd-category-outer-padding-super-narrow-screen: 4vw;

$fdd-sticky-menu: false;

/*
 * Basic typography font set, prefixed 'font-'
 */
@mixin font-standard-serif($weight: 300) {
  font-family: 'Noto Serif KR', serif;
  font-weight: $weight;
}

@mixin font-narrow-serif($weight: 300) {
  font-family: 'Oranienbaum', serif;
  font-weight: $weight;
}

@mixin font-italic-serif($size: 100%) {
  font-family: 'Spectral', serif;
  font-weight: 200;
  font-style: italic;
  font-size: $size;
}

@mixin font-standard-sans($weight: 400) {
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Abel', sans-serif;
  font-weight: $weight;
}

/*
 * End-css font aliases, prefixed 'fdd-' or what's been taken from theme/block
 *
 * All end css should @include these aliases.
 * The aliases should @include the basic typography mixins above.
 */

// Homepage

@mixin fdd-home-category-name($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-narrow-serif();
}

@mixin fdd-home-article-excerpt($args...) {
  @include font-italic-serif($args...);
}

@mixin font-home-article-heading($args...) {
  @include font-standard-serif($args...);
}
@mixin fdd-home-front-article-heading($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-home-article-heading();
}
@mixin fdd-home-oldish-article-heading($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-home-article-heading();
}

// Single

@mixin fdd-single-article-heading($size: false) {
  @if $size {
    @include text-size($size);
  }
  @include font-narrow-serif();
  color: $fdd-title-color;
}

@mixin fdd-single-article-excerpt($size: false) {
  @include font-italic-serif();
  @if $size {
    font-size: $size;
  }
}

// Base article text

@mixin base-font-family-set($args...) {
  @include font-standard-serif($args...);
}

@mixin fdd-blog-descr-font() {
  @include font-italic-serif();
}
