$base-fdd-text-color: rgba(38,38,38,0.6);
$fdd-title-color: black;

$fdd-wide-width-pixels: 980px;
$fdd-narrow-width-pixels: 700px;

$fdd-outer-padding-wide-screen: 5%;
$fdd-inner-padding-wide-screen: $fdd-outer-padding-wide-screen / 2;
$fdd-outer-padding-narrow-screen: 5%;
$fdd-home-outer-padding-narrow-screen: 5%;


@mixin font-narrow-serif($weight: 300) {
  font-family: 'Oranienbaum', serif;
  font-weight: $weight;
}

// font-standard-serif
@mixin font-home-page-title($weight: 300) {
  font-family: 'Noto Serif KR', serif;
  font-weight: $weight;
}

// font-italic-serif
@mixin font-home-page-excerpt($size: 100%) {
  font-family: 'Spectral', serif;
  font-weight: 200;
  font-style: italic;
  font-size: $size;
}

// font-standard-sans
@mixin base-font-family-set($weight: 300) {
  font-family: 'Gafata', sans-serif;
  font-weight: $weight;
}

@mixin fdd-home-category-name($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-narrow-serif;
}

@mixin fdd-home-front-article-heading($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-home-page-title(300);
}

@mixin fdd-home-oldish-article-heading($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-home-page-title(300);
}

@mixin fdd-single-article-heading($size: false) {
  @if $size {
    @include text-size($size);
  }
  @include font-narrow-serif();
  color: $fdd-title-color;
}
