/*
 * Shared variables
 */

$base-fdd-text-color: rgba(38, 38, 38, 0.8); // originally 0.6
$base-fdd-link-color: rgb(89, 89, 89);
$fdd-title-color: black;
$fdd-gray-elements-color: rgb(54, 54, 54);
$fdd-gray-elements-color-semitrans: rgba(54, 54, 54, 0.98);
$fdd-gray-elements-color-moretrans: rgba(54, 54, 54, 0.76);
$fdd-on-gray-color: rgb(206, 206, 206);
$fdd-light-gray: rgb(230, 230, 230);
$fdd-green-color: rgb(158, 238, 113);
$fdd-red-color: #d60404;
$fdd-red-color-on-gray: #ff3f3f;

$header-bottom-line-color-on-home: #d9d9d9;
$header-bottom-line-color-light: #d9d9d9;
$header-bottom-line-color-dark: black;

$fdd-wide-width-pixels: 960px;
$fdd-narrow-width-pixels: 640px; // rule: use 100% width images and get 640px size... ?
$fdd-thick-decor-underline-color: #bbb;

$fdd-menu-wide-screen-width: 1120px; // empiric, to fit current menu items
$fdd-menu-narrow-screen-width: 640px; // empiric, to fit search and sandwich
$fdd-footer-narrow-width-pixels: 800px; // empiric, to fit the footer menu items

$fdd-fullscreen-menu-wide-screen-width: 800px;
$fdd-fullscreen-menu-narrow-screen-width: 640px;

$fdd-outer-padding-wide-screen: 5vw;
$fdd-outer-padding-wide-screen-parent-based: 5%;
$fdd-inner-padding-wide-screen: $fdd-outer-padding-wide-screen / 2;
$fdd-outer-padding-narrow-screen: 5vw;

$fdd-home-wide-max-width: 1400px;
$fdd-home-images-gap: 32px;
$fdd-home-outer-padding-wide-screen: 5vw;
$fdd-home-too-wide-screen: (1400px * 1.1); // + 2x $fdd-home-outer-padding-wide-screen
$fdd-home-outer-padding-narrow-screen: 10vw;

$fdd-category-wide-max-width: 1120px;
$fdd-category-outer-padding-wide-screen: 5vw;
$fdd-category-outer-padding-narrow-screen: 14vw;
$fdd-category-outer-padding-super-narrow-screen: 4vw;
$fdd-search-result-width: 640px;

$fdd-single-wide-max-width: 1400px;

$fdd-sticky-menu: false;

$logo-width-wide: 240px;
$logo-width-narrow: 40vw;

$fdd-home-cta-max-width: 590px;

// Defaults
$base-bg-color: #ffffff;
$base-bg-color-transparent: #ffffff00;
$base-text-color: $base-fdd-text-color;

/*
 * Basic typography font set, prefixed 'font-'
 */
@mixin font-standard-serif($weight: 300) {
  font-family: "Noto Serif KR", "Noticia Text", serif;
  font-weight: $weight;
}

@mixin font-narrow-serif($weight: 300) {
  font-family: "Oranienbaum", serif;
  font-weight: $weight;
}

@mixin font-italic-serif($size: 100%) {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
  font-size: $size;
}

@mixin font-standard-sans($weight: 400) {
  //font-family: 'Open Sans', sans-serif;
  font-family: "Abel", sans-serif;
  font-weight: $weight;
}

@mixin font-standard-sans-important($weight: 400) {
  //font-family: 'Open Sans', sans-serif;
  font-family: "Abel", sans-serif !important;
  font-weight: $weight !important;
}

/*
 * End-css font aliases, prefixed 'fdd-' or what's been taken from theme/block
 *
 * All end css should @include these aliases.
 * The aliases should @include the basic typography mixins above.
 */

// Homepage

@mixin fdd-home-category-name($size: inherited) {
  @if $size != inherited {
    @include text-size($size);
  }
  @include font-narrow-serif();
}

@mixin fdd-home-article-excerpt($args...) {
  @include font-italic-serif($args...);
}

@mixin font-home-article-heading($args...) {
  @include font-standard-serif($args...);
}
@mixin fdd-home-front-article-heading($weight: null) {
  @if $weight != null {
    @include font-home-article-heading($weight);
  } @else {
    @include font-home-article-heading();
  }
}
@mixin fdd-home-oldish-article-heading($weight: null) {
  @if $weight != null {
    @include font-home-article-heading($weight);
  } @else {
    @include font-home-article-heading();
  }
}

// Single

@mixin fdd-single-article-heading($size: false) {
  @if $size {
    @include text-size($size);
  }
  @include font-narrow-serif();
  color: $fdd-title-color;
}

@mixin fdd-single-article-excerpt($size: false) {
  @include font-italic-serif();
  @if $size {
    font-size: $size;
  }
}

// Base article text

@mixin base-font-family-set($args...) {
  @include font-standard-serif($args...);
}

@mixin fdd-blog-descr-font() {
  @include font-italic-serif();
}

// Home page call-to-action common styling

@mixin home-call-to-action() {
  margin-bottom: 3em;
  font-size: 150%;
  padding: 2em $fdd-home-outer-padding-narrow-screen; // use narrow, because on wide, this has no effect
  background-color: $fdd-gray-elements-color;
}
