.woocommerce {
  .button {
    border-radius: 0 !important;
    background-color: $fdd-red-color !important;
    color: white !important;
  }
  table.variations {
    .label {
      font-size: 24px;
      padding: 10px 0 !important;
    }
  }
  .woocommerce-ordering,
  table.variations {
    select {
      padding: 12px;
      font-size: 16px;
      @include font-standard-sans();
    }
  }
  .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 1.5em;
  }
  .woocommerce-result-count {
    display: none;
  }
  .woocommerce-ordering {
    float: none !important;
  }
  div.product p.price,
  div.product span.price {
    color: $fdd-red-color !important;
  }

  div.woocommerce-product-gallery {
    ol > li {
      margin: 12px 12px 12px 0 !important;
      width: auto !important;
    }
  }

  .woocommerce-Input {
    padding: 12px;
  }

  div.shop-page--text {
    width: 40%;
    padding: 0.5em;
    margin-bottom: 1em;
    align-self: flex-start;
  }
  // @prerovsky1
  div.shop-page--text {
    width: 100%;
    margin: 2em 0 1em;
    align-self: flex-end;
    font-size: 12px;
    text-align: center;
  }

  div.products.fdd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 4em;
    div.product.fdd {
      a img {
        margin: 16px 16px;
        max-width: 80vw;
        max-height: 70vh;
        // image size is not defined by css, but by Images::sizes_attribute_hook
        &.portrait {
          // To fit only 3 images
          margin-left: 30px;
          margin-right: 30px;
        }
      }
      /*
      &.first {
        width: 40%;
        text-align: right;
      }
      */
      .button.add_to_cart_button,
      .price {
        position: absolute;
        right: 45px;
      }
    }
    .button.add_to_cart_button {
      bottom: 40px;
      display: none;
    }
    .price {
      padding: 0 0.5em;
      background: white;
      bottom: 80px;
      display: none;
    }
    a.added_to_cart {
      display: none;
    }
  }

  div.product.fdd:hover {
    .button.add_to_cart_button,
    .price {
      display: initial;
    }
  }

  .select2-container--default .select2-selection--single {
    background-color: $base-bg-color;
    border: 1px solid #888;
    border-radius: 0px;
  }
  .select2-container .select2-selection--single {
    height: 38px;
    .select2-selection__rendered {
      height: 38px;
      line-height: 38px;
    }
    .select2-selection__arrow {
      height: 38px;
    }
  }
} // .woocommerce

@media screen and (max-width: $fdd-narrow-width-pixels) {
  div.products.fdd {
    .button.add_to_cart_button {
      bottom: 50px !important;
      right: 15px !important;
    }
    .price {
      bottom: 90px !important;
      right: 15px !important;
    }
    div.product.fdd {
      a img {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
      }
    }
  }
}

/*
// Doesn't work in fucking firefox!
@media (hover: none) {
  div.products.fdd {
    .button.add_to_cart_button,
    .price {
      display: initial !important;
    }
  }
}
*/

@media screen and (max-width: 880px) {
  .woocommerce {
    /* // @prerovsky1
    div.shop-page--text {
      width: 100%;
      margin-bottom: 2em;
      padding: 0 0 2em;
      border-bottom: 1px solid $fdd-light-gray;
    }
    */
    div.product.fdd.first {
      width: auto !important;
      text-align: left !important;
    }
  }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
  content: none !important;
}

.woocommerce-message {
  border-top-color: $fdd-red-color !important;
}
.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  border-top-color: $header-bottom-line-color-dark !important;
  padding: 1em !important;
  margin-bottom: 1em !important;
}

.woocommerce-cart {
  table.cart {
    td,
    th {
      border-right: none;
    }
  }
  .product-quantity {
    display: none !important;
  }
  .product-thumbnail {
    width: 153px;
    a img {
      width: 128px !important;
    }
  }
}
.woocommerce-cart-form {
  #coupon_code {
    min-width: 180px;
  }
}

.woocommerce-checkout {
  #customer_details {
    .col-1 {
      //margin-right: 32px;
    }
  }
  .woocommerce-checkout-payment {
    clear: both;
    margin-top: 32px;
  }
  .woocommerce-checkout-review-order-table {
    border: none !important;
    thead tr th {
      border-bottom: solid 1px gray !important;
    }
    td,
    th {
      border: none !important;
      padding: 0.25em 0 !important;
    }
  }
  input {
    padding: 10px;
  }

  /*
  // Doesn't work because WC adds the checkbox inside the label...
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label:before {
    content: "☐";
  }
  input:checked + label:before {
    content: "☑";
  }
  */
}

.woocommerce-MyAccount-navigation {
  margin-bottom: 42px;
}
.woocommerce-EditAccountForm {
  p,
  fieldset {
    margin-bottom: 20px !important;
  }
}

$single-product-header-flex: false;
.single-product {
  header {
    margin: 2em 0 3em;
    .single__title {
      margin-bottom: 0;
    }
    @if ($single-product-header-flex) {
      display: flex;
      align-items: baseline;
      justify-content: left;
      .single__title {
        display: block;
        text-align: right;
        margin: 0;
      }
      .single__title_excerpt_div {
        width: 1px;
        background: $base-fdd-text-color;
        height: 32px;
        align-self: center;
        margin: 1em;
      }
      .single__excerpt {
        text-align: left;
      }
    }
  }
  section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .quantity {
    display: none !important;
  }
  .product_meta {
    display: none;
  }
  .fdd-woocommerce_after_single_product_summary {
    clear: both;
  }
}

@media screen and (max-width: 768.1px) {
  .single-product {
    header {
      display: block;
      .single__title {
        display: block;
        width: 100%;
        text-align: center;
      }
      @if ($single-product-header-flex) {
        .single__title_excerpt_div {
          display: none;
        }
      }
      .single__excerpt {
        margin-top: 1em;
        text-align: center;
      }
    }
  }
}

.woocommerce-product-gallery {
  > .flex-viewport,
  > figure.woocommerce-product-gallery__wrapper {
    $border-color: $base-fdd-text-color;
    $border-corner-length: 4%;
    border: 1px $border-color solid;
    border-image: linear-gradient(
      to bottom right,
      $border-color 0%,
      $border-color $border-corner-length,
      $base-bg-color $border-corner-length,
      $base-bg-color 100% - $border-corner-length,
      $border-color 100% - $border-corner-length,
      $border-color 100%
    );
    border-image-width: 1px;
    border-image-outset: 1px;
    border-image-slice: 1%;
  }
}

.single-product {
  .single_product__excerpt p {
    padding-bottom: 0.75em;
  }
}

.woocommerce-pagination {
  li a,
  li span {
    padding: 1em !important;
  }
  a.page-numbers {
    border: none !important;
  }
}
