.woocommerce {
  .button {
    border-radius: 0 !important;
    background-color: $fdd-red-color !important;
    color: white !important;
  }
  table.variations {
    .label {
      font-size: 24px;
      padding: 10px 0 !important;
    }
  }
  .woocommerce-ordering,
  table.variations {
    select {
      padding: 12px;
      font-size: 16px;
      @include font-standard-sans();
    }
  }
  .woocommerce-terms-and-conditions-wrapper {
    margin-bottom: 1.5em;
  }
  .woocommerce-result-count {
    display: none;
  }
  .woocommerce-ordering {
    float: none !important;
  }
  div.product p.price,
  div.product span.price {
    color: $fdd-red-color !important;
  }

  div.woocommerce-product-gallery {
    ol > li {
      margin: 12px 12px 12px 0 !important;
      width: auto !important;
    }
  }

  .woocommerce-Input {
    padding: 12px;
  }

  div.shop-page--text {
    width: 40%;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  div.products.fdd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 4em;
    div.product.fdd {
      a img {
        outline: solid 7px #666;
        margin: 17px 22px;
        max-width: 80vw;
        max-height: 70vh;
        // image size is not defined by css, but by Images::sizes_attribute_hook
      }
      /*
      &.first {
        width: 40%;
        text-align: right;
      }
      */
    }
    .button.add_to_cart_button,
    .price {
      position: absolute;
    }
    .button.add_to_cart_button {
      bottom: 40px;
      right: 35px;
      display: none;
    }
    .price {
      padding: 0 0.5em;
      background: white;
      bottom: 80px;
      right: 35px;
      display: none;
    }
  }

  div.product.fdd:hover {
    .button.add_to_cart_button,
    .price {
      display: initial;
    }
  }
}

@media screen and (max-width: $fdd-narrow-width-pixels) {
  div.products.fdd {
    .button.add_to_cart_button {
      bottom: 50px !important;
      right: 15px !important;
    }
    .price {
      bottom: 90px !important;
      right: 15px !important;
    }
    div.product.fdd {
      a img {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
      }
    }
  }
}

/*
// Doesn't work in fucking firefox!
@media (hover: none) {
  div.products.fdd {
    .button.add_to_cart_button,
    .price {
      display: initial !important;
    }
  }
}
*/

@media screen and (max-width: 880px) {
  .woocommerce {
    div.shop-page--text {
      width: 100%;
      margin-bottom: 2em;
      padding: 0 0 2em;
      border-bottom: 1px solid $fdd-light-gray;
    }
    div.product.fdd.first {
      width: auto !important;
      text-align: left !important;
    }
  }
}

.woocommerce-error::before,
.woocommerce-info::before,
.woocommerce-message::before {
  content: none !important;
}

.woocommerce-message {
  border-top-color: $fdd-red-color !important;
}
.woocommerce-info,
.woocommerce-message,
.woocommerce-error {
  border-top-color: $header-bottom-line-color-dark !important;
  padding: 1em !important;
  margin-bottom: 1em !important;
}

.woocommerce-cart {
  .product-quantity {
    display: none !important;
  }
}
.woocommerce-cart-form {
  #coupon_code {
    min-width: 180px;
  }
}

.woocommerce-MyAccount-navigation {
  margin-bottom: 42px;
}
.woocommerce-EditAccountForm {
  p,
  fieldset {
    margin-bottom: 20px !important;
  }
}

.single-product {
  section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .quantity {
    display: none !important;
  }
  .product_meta {
    display: none;
  }
  .fdd-woocommerce_after_single_product_summary {
    clear: both;
  }
}

.woocommerce-product-gallery {
  > .flex-viewport,
  > figure.woocommerce-product-gallery__wrapper {
    $border-color: $base-fdd-text-color;
    $border-corner-length: 4%;
    border: 1px $border-color solid;
    border-image: linear-gradient(
      to bottom right,
      $border-color 0%,
      $border-color $border-corner-length,
      $base-bg-color $border-corner-length,
      $base-bg-color 100% - $border-corner-length,
      $border-color 100% - $border-corner-length,
      $border-color 100%
    );
    border-image-width: 1px;
    border-image-outset: 1px;
    border-image-slice: 1%;
  }
}

.single-product {
  .single_product__excerpt p {
    padding-bottom: 0.75em;
  }
}

.woocommerce-pagination {
  li a,
  li span {
    padding: 1em !important;
  }
  a.page-numbers {
    border: none !important;
  }
}
